li{
display:block;
text-decoration:none;
padding:6px 8px 6px 16px;
color:white;
}

body{
height:100%;
width:160px;
padding-top:20px;
background-color:green;
position:fixed;
top:0;
left:0;
}

ul a:hover{
color:red;
}
