.first-para{
	color:white;
	background-color:#4CAF50;
	padding:10px;
	}
#second-para{
	color:#ff0000;
	background-color:#FFC107;
	padding:10px;
	}
p{
	color:#6a5acd;
	background-color:#E0E0E0;
	padding:10px;
	margin:10px;
	}

